@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 244, 200, 1);
}

.styles {
  background: #e3e2e2;
  padding: 20px;
  border: 10px solid maroon;
  transition: 200ms ease;
}

.paragraph {
  font-size: 35px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.btn-group > button {
  background-color: skyblue;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}
.btn-group > button:hover {
  background-color: darkblue;
  cursor: pointer;
}
